<!-- Performance Section -->
    <section id="performance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Performance</h2>
                </div>
            </div>

            <div style="height: 60px;"></div>

            <h4 class="text-center" style="font-size:x-large;">Booking Situation</h4>

            <div style="height: 10px;"></div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="img/performance/perf1.jpg" class="img-responsive " style="width: 350px; height: 700px;" alt="">
                </div>
                <div class="col-lg-4">
                    <img src="img/performance/perf2.jpg" class="img-responsive " style="width: 350px; height: 700px;" alt="">
                </div>
                <div class="col-lg-4">
                    <img src="img/performance/perf3.jpg" class="img-responsive " style="width: 350px; height: 700px;" alt="">   
                </div> 
            </div>

            <div style="height: 60px;"></div>

            <h4 class="text-center" style="font-size:x-large;">Occupation Rate</h4>

            <div style="height: 10px;"></div>

            <div class="row">
                <p class="lead">Our prices for similar properties are comparable, but our occupancy rate is consistently higher by over 20%</p>
                <div class="col-lg-12">
                    <img src="img/performance/perf4.jpg" class="img-responsive img-centered" style="width: 1000px; height: 600px;margin-top: 30px;" alt="">
                </div>
                <div class="col-lg-12">
                    <img src="img/performance/perf5.jpg" class="img-responsive img-centered" style="width: 1000px; height: 500px;margin-top: 30px;" alt="">
                </div>
            </div>
        </div>
    </section>
