<!-- Portfolio Grid Section -->
    <section id="pricing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pricing</h2>
                </div>
                
                <div style="height: 30px;"></div>

                <h4 class="text-center">Initial Setup Cost</h4>
                <div class="row">
                    <div class="col-lg-4" style="font-size: large;">1-bedroom</div>
                    <div class="col-lg-8" style="font-size: large;">$800 (<em>Including photography and staging. Photography is $150.</em>)</div>
                    <div class="col-lg-4" style="font-size: large;">2-bedroom</div>
                    <div class="col-lg-8" style="font-size: large;">$1,600 (<em>Including photography and staging. Photography is $200.</em>)</div>
                    <div class="col-lg-4" style="font-size: large;">3-bedroom</div>
                    <div class="col-lg-8" style="font-size: large;">$2,000 (<em>Including photography and staging. Photography is $220.</em>)</div>
                    <div class="col-lg-4" style="font-size: large;">4-bedroom</div>
                    <div class="col-lg-8" style="font-size: large;">$2,500 (<em>Including photography and staging. Photography is $250.</em>)</div>
                </div>

                <div style="height: 30px;"></div>

                <h4 class="text-center">Management Fee</h4>
                <p style="font-size: large;">Management fee is <strong>20%</strong>.</p>
                <p style="font-size: large;">The Short Term Rental Company shall retain 20% of gross rental proceeds and clean fee collected from guests (gross rental proceeds is the amount received by owner minus the clean fee).</p> 
                <p style="font-size: large;"><em>E.g., if the reservation is 5000 dollars, clean fee is 1000 dollars in a month, the management fee should be (5000 - 1000) * 20% + 1000.</em></p>
                <p style="font-size: large;"> 
                    Any additional services, products, supplies and repairs not included shall also be deducted on monthly statements to the owner. 
                    The Short Term Rental Company shall issue to the Owner the billing statement at the beginning of every month. 
                </p>

                <div style="height: 20px;"></div>

                <strong style="font-size: large;">All payment needs to be issued between 1st and 12th of each month, for the causing of any missing payment, a late fee charge for 100 dollars per invoice.</strong>
            </div>
        </div>
    </section>
