<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                </div>

                <p class="lead">Transform your property into a profitable investment with our comprehensive solution that covers everything from <strong style="color: #fed136">staging and furnishing, to decor and vacation home supplies</strong>.</p>
                <p class="lead"> Our services also include <strong style="color: #fed136">professional photography</strong>, <strong style="color: #fed136">listing creation</strong>, <strong style="color: #fed136">guest communication</strong>, <strong style="color: #fed136">cleaning</strong>, and <strong style="color: #fed136">maintenance</strong>. </p>
                <p class="lead">With our management, your property will always stand out among the competition, leading to higher occupancy rates and increased revenue.</p>
            </div>
        </div>
    </section>