<!-- Team Section -->
    <section id="team"  class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reviews</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">   
                        <li>
                            <div class="timeline-body">
                                <img src="img/team/1.jpg" style="width: 45%">
                            </div>                            
                        </li>   
                        <li class="timeline-inverted">
                            <div>
                                <img src="img/team/2.jpg" style="width: 45%; float: right;">
                            </div>
                        </li> 
                        <li>
                            <div class="timeline-body">
                                <img src="img/team/3.jpg" style="width: 45%">
                            </div>                            
                        </li>   
                        <li class="timeline-inverted">
                            <div>
                                <img src="img/team/4.jpg" style="width: 45%; float: right;">
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-body">
                                <img src="img/team/5.jpg" style="width: 45%">
                            </div>                            
                        </li>   
                        <li class="timeline-inverted">
                            <div>
                                <img src="img/team/6.jpg" style="width: 45%; float: right;">
                            </div>
                        </li> 
                        <li>
                            <div class="timeline-body">
                                <img src="img/team/7.jpg" style="width: 45%">
                            </div>                            
                        </li>   
                        <li class="timeline-inverted">
                            <div>
                                <img src="img/team/8.jpg" style="width: 45%; float: right;">
                            </div>
                        </li>                                               
                    </ul>
                </div>                                 
            </div>
        </div>
    </section>